.container_12{
  width: auto;
  margin-top: 20px;
  height: 100%;
  background: url(http://bgfons.com/upload/light_texture2188.jpg)no-repeat;
}
h1{
  background: url(../IMG/random-picture-9.jpg) no-repeat;
  text-indent: 100px;
  margin-left: 0px;
  padding: 20px;
}
h1 a{
  letter-spacing: 15px;
  color: black;
  text-decoration: none;
  text-emphasis-position: left;
}
.main{
  margin-top: 20px;
}
.container1 li{
  margin-top: 20px;
  margin-left: 15px;
}
.primary
{
  color: yellow;
}
.container2{

}
